{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "unused-imports"],
    "parser": "babel-eslint",
    "rules": {
      "prettier/prettier": ["error"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-props-no-spreading": "off",
      "react/jsx-wrap-multilines": "off",
      "import/prefer-default-export": "off",
      "no-unused-vars": "warn",
      "unused-imports/no-unused-imports": "warn",
      "unused-imports/no-unused-vars": [
        "warn",
        { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ]
    },
    "env": {
      "browser": true
    }
  }